<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
    {{ .Site.Params.logoTitle }}
    {{- else -}}
    {{ .Site.Title }}
    {{- end -}}
  </a>
</div>

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ $currentNode := . }}
    {{ range .Site.Menus.main -}}
    <li
      class="menu-item {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}  active{{end}}">
      {{ .Pre }}
      <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
    </li>
    {{- end }}
  </ul>
</nav>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">